<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Filtrar datos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12">
        <div>
          <ion-item>
            <ion-label position="floating">Número del animal</ion-label>
            <ion-input [(ngModel)]="data.animal_codigo" type="text" (ngModelChange)="searchData(data.number)"></ion-input>
            <ion-list *ngIf="filter">
              <ion-item *ngFor="let res of arrayResult" (click)="addCodigo(res.animal_codigo)">{{res.animal_codigo}}</ion-item>
            </ion-list>
          </ion-item>
        </div>
        <!--div class="ion-padding-top">
          <ion-item>
            <ion-label position="floating">Cumplimiento</ion-label>
            <ion-checkbox slot="end" [(ngModel)]="data.cumplido">Evento pendiente</ion-checkbox>
            <ion-checkbox slot="end" [(ngModel)]="data.cumplido">Evento cumplido</ion-checkbox>
          </ion-item>
        </div-->
        <!--div class="ion-padding-top">
          <ion-item>
            <ion-label position="floating">Cumplimiento</ion-label>
            <ion-select okText="Aceptar" cancelText="Cancelar" [(ngModel)]="data.cumplido">
              <ion-select-option value="pendiente">Evento pendiente</ion-select-option>
              <ion-select-option value="cumplido">Evento cumplido</ion-select-option>
            </ion-select>
          </ion-item>
        </div-->
        <div class="ion-padding-top">
          <ion-item>
            <ion-label  position="floating">Fecha</ion-label>
            <!--ion-input [(ngModel)]="data.fecha" (click)="openDatePicker()"></ion-input-->
            <ion-datetime [(ngModel)]="data.fecha"  min="1920" max="2099" displayFormat="'DD-MM-YYYY"></ion-datetime>
          </ion-item>
        </div>
        <!--div class="ion-padding-top">
          <ion-item>
            <ion-label  position="floating">Hasta</ion-label>
            <ion-input [(ngModel)]="selectedDate" (click)="openDatePicker()"></ion-input>
          </ion-item>
        </div-->
        <div class="ion-padding-top">
          <ion-item>
            <ion-label position="floating">Tipo Evento</ion-label>
            <ion-select okText="Aceptar" cancelText="Cancelar" [(ngModel)]="data.tipo_evento">
              <ion-select-option value="parto">Parto</ion-select-option>
              <ion-select-option value="palpacion">Palpación</ion-select-option>
              <ion-select-option value="celo">Celo</ion-select-option>
              <!--ion-select-option value="salud">Salud</ion-select-option-->
              <ion-select-option value="servicio">Servicio</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
        <div class="ion-padding-bottom line-divider"></div>
        <div class="ion-hide-md-up">
          <div class="ion-padding-top">
            <ion-button expand="block" (click)="buscar()">Buscar</ion-button>
          </div>
          <div >
            <ion-button expand="block" (click)="limpiar()">Limpiar filtros</ion-button>
          </div>
          <div >
            <ion-button (click)="closeModal()" expand="block">Cancelar</ion-button>
          </div>
        </div>
        <div class="ion-hide-sm-down ">
          <div class="ion-padding-top ion-float-start">
            <ion-button (click)="buscar()">Buscar</ion-button>
            <ion-button (click)="buscar()">Limpiar filtros</ion-button>
            <ion-button (click)="closeModal()">Cancelar</ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

