<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/production"></ion-back-button>
    </ion-buttons>
    <ion-title>Producción</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
        <div class="ion-padding-top">
          <ion-item>
            <ion-label position="floating">Número del animal</ion-label>
            <ion-input [(ngModel)]="model.animal_codigo" (ngModelChange)="searchData(model.animal_codigo)" type="number" autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" inputmode="text"></ion-input>
            <!--div *ngIf="animal_codigo" style="color:red;font-size: 80%;">Número del animal es requerido</div-->
            <!--ion-icon (click)="searchData(animal.animal_codigo)" name="search" color="primary" slot="end"></ion-icon-->
            <ion-list *ngIf="filter">
              <ion-item *ngFor="let res of arrayResult" (click)="addCodigo(res.animal_codigo)">{{res.animal_codigo}}</ion-item>
            </ion-list>
          </ion-item>
        </div>
        <div class="ion-padding-top">
          <ion-item>
            <ion-label position="floating">Digitar peso (Kgs)</ion-label>
            <ion-input  [(ngModel)]="model.peso" type="number" (ngModelChange)="pesos()"></ion-input>
            <!--div *ngIf="peso" style="color:red;font-size: 80%;">Leche es requerido</div-->
          </ion-item>
        </div>
        <div class="ion-padding-top">
          <ion-item>
            <ion-label  position="floating">Fecha</ion-label>
            <!--ion-input [(ngModel)]="animal.fecha" (click)="openDatePicker()"></ion-input-->
            <ion-datetime [(ngModel)]="model.fecha"  displayFormat="'DD-MM-YYYY"></ion-datetime>
          </ion-item>
        </div>
        <!--div class="ion-padding-bottom line-divider"></div-->
        <!--div class="ion-padding-top">
          <ion-button (click)="leche('production/leche')" expand="block">Leche</ion-button>
        </div-->
        <!--div class="ion-padding-bottom line-divider"></div-->
        <div class="ion-padding-top">
          <ion-button (click)="saveData()" expand="block" [disabled]="model.animal_codigo == null || model.peso == null || model.fecha == null">Aceptar</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>